<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>NLP APP FOR DISNEYLAND</title>  
</head>

<body>
 <div class="login">
	<h1>What do you think of DisneyLand???</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">    	
        <h1>Write a review for DisneyLand you visited:</h1>
        <textarea name="message" rows="6" cols="50"></textarea>
        <button type="submit">Predict</button>
    </form>

   <br>
   <br>
   
   {{prediction_text}}
	 
 </div>


</body>
</html>
